CompileFlags:
  Add: [
    "-std=c++20",
    "-DUE_ENABLE_ICU=0",
    "-DCORE_API=",
    "-DENGINE_API=",
    "-DCOREUOBJECT_API=",
    "-DANIMGRAPHRUNTIME_API=",
    "-DCONTROLRIG_API=",
    "-DIKRIG_API=",
    "-DWITH_EDITOR=1",
    "-fms-extensions",
    "-Wno-microsoft-enum-forward-reference",
    "-Wno-unknown-pragmas",
    "-Wno-invalid-token-paste",
    "-Wno-macro-redefined",
    "-Wno-microsoft-template"
  ]

Diagnostics:
  Suppress: ["*"]

Index:
  StandardLibrary: false
